@charset "ISO-8859-1";

.box-of-boxes{
	text-align: center;

} 

.box-catalogo{
	width: 400px;
	height: 275px;
	border: solid 1px;
	display: inline-block;
}

.box-border{
	border-radius: 10px;
	color: #91bdb2;
	margin: 15px;
}

.bg-image{
	background-color: #373737;
}

.box-text{
	color: #91bdb2;
}

.product-form{
	padding-left: 2.4%;
}

.videogame-image {
    width: 95%;
    height: auto;
    padding-top: 2.4%;
}