@charset "ISO-8859-1";
 
 .flex-container{
 	display: flex;
 /* 	border: 5px solid black; */
 	align-items: center;
 }
 
 .flex-container div{
 	/* border: 5px solid red; */
 }
 
.flex-container img{
	width: 300px;
}