@charset "ISO-8859-1";

/*tabella storage*/
/* table{
	width: 100%;	fa in modo che la tabella occupi tutta la pagina orizzontalmente
}

table,
th,
td{
	 border: 1px solid;
} */

/* img {
	width: 30%;
	height: 40%;
} */

/* bordo dell'input che si illumina quando viene clicaccato */
input:focus {
	outline: none;
  	border: 1px solid orange;
}

/*Css paragrafi di errore*/
.ErrorParagraph{
	color: red;
}

#hideButton,
.hide{
	display: none;
}